<div class="work-summary-details">
  <div class="detail-item">
    <mat-icon class="icon green">login</mat-icon>
    <span>First Entry of the Day</span>
    <span class="value">{{ firstEntry || 'N/A' }}</span>
  </div>
  <div class="detail-item">
    <mat-icon class="icon red">logout</mat-icon>
    <span>Exit</span>
    <span class="value">{{ exitTime || 'N/A' }}</span>
  </div>
  <div class="detail-item">
    <mat-icon class="icon blue">hourglass_bottom</mat-icon>
    <span>Total for Today</span>
    <span class="value">{{ totalHours || '00:00:00' }}</span>
  </div>
  <div class="detail-item">
    <mat-icon class="icon blue">timer</mat-icon>
    <span>Remaining Time</span>
    <span class="value">{{ remainingTime || '00:00:00' }}</span>
  </div>
  <div class="detail-item">
    <mat-icon class="icon blue">calendar_today</mat-icon>
    <span>Current Date</span>
    <span class="value">{{ currentDate }}</span>
  </div>
</div>
