<app-left-sidebar
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
></app-left-sidebar>

<app-main
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  [screenWidth]="screenWidth()"
></app-main>

<app-footer
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  [screenWidth]="screenWidth()"
></app-footer>

<div class="container" [class.dark-theme]="isDarkTheme">
  <button mat-button (click)="toggleTheme()">
    <mat-icon>{{ isDarkTheme ? 'brightness_7' : 'brightness_4' }}</mat-icon>
    <span>{{ isDarkTheme ? 'Light Theme' : 'Dark Theme' }}</span>
  </button>
</div>

<div class="content">
  <div class="time-tracker">
    <app-progress-bar [progress]="timer.progress"></app-progress-bar>
    <div class="timer-hourglass">
      <app-timer></app-timer>
      <app-work-summary></app-work-summary>
    </div>
  </div>
</div>

