<div class="summary">
  <mat-tab-group>
    <mat-tab *ngFor="let tab of tabs" [label]="tab.label" [disabled]="tab.disabled">
      <ng-container [ngSwitch]="tab.component">
        <app-current-situation *ngSwitchCase="'current-situation'" />
        <app-vacation-summary *ngSwitchCase="'vacation-summary'" />
        <app-leave-tickets *ngSwitchCase="'leave-tickets'" />
        <div *ngSwitchDefault>Unknown Component</div>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
  <router-outlet />
</div>
